<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> FYEF </title>
	</head>
	<body>
			<div class="center hero-unit">
				<h1>About Us</h1>
				<p>
				    <a href="#">FYEF</a>
				    <small>Today in California when youth in foster care graduate from high school or turn eighteen they exit the child welfare system. At that time they lose their housing, financial support and often the guidance of a caring adult. In Sacramento, approximately 250 youth each year experience this situation. Although many are interested in pursuing college degrees, the daily struggles to exist keep them from pursuing their higher education goals and achieving their potential.<br>
					We all know that education is one key to a successful future. We encourage our own children to dream big, study hard and pursue higher education goals. For children with family support and encouragement, that dream can be realized.<br>
				
					The Foster Youth Education Fund is a non-profit organization dedicated to raising awareness, generating funds and providing support to assist emancipated foster youth in reaching their higher education goals.	With community and corporate support, the Foster Youth Education Fund has continued to grow. When we began in 2002, we distributed $5,000 in education grants to deserving foster youth. In 2011 and 2012, we raised over $250,000 for education grants.
				</small>
				</p>
		
				<br> <blockquote cite="http://www.fyef.org">
					<p><em>Thank you for your time, support and willingness to help youth in my situation.</em></p>
					<p><em> It is a very difficult thing to face, but having support helps those of us who have goals to realize that our desires can be a reality and not just distant and untouchable dreams.</em></p>
						<p> <strong><em> Dava, 2004 Foster Youth Education Grant Recipient </strong></em> </p>
					</blockquote>
					<h2> <strong> Watch 2004 feature with co-founder Joni Pitcl! </strong> </h2> <br>

		<object width="640" height="480">
									<param name="movie" value="http://www.youtube.com/v/6_8dQHnSr10?hl=en_US&amp;version=3"></param>
									<param name="allowFullScreen" value="true"></param>
									<param name="allowscriptaccess" value="always"></param>
									<embed src="http://www.youtube.com/v/6_8dQHnSr10?hl=en_US&amp;version=3" type="application/x-shockwave-flash" width="640" height="480" allowscriptaccess="always" allowfullscreen="true"></embed></object>
									
				<h2>Contact Us</h2>
				<address>
				  <strong>Foster Youth Education Fund</strong><br><br>
				  3323 Watt Ave. #253<br>
				  Sacramento, CA 95821<br>
				  <abbr title="Phone">Phone:</abbr> (916) 335-5485
				
				</address>
		

				<address>
				  <a href="mailto:#">info@fyef.org</a>
				</address>
									
				</div>