<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		
		<title> Events </title>
	</head>
	<body>
			<div class="navbar navbar-fixed-top">  
			  <div class="navbar-inner">  
			    <div class="container">  

					<ul class="nav">  
					  <li><a class="FYEF" href="home">Home</a></li>  
					  <li> 
						<a href="about">About</a>
						</li>  
					  <li><a href="scholarship">Scholarship</a></li>  
					  <li  class="active"><a href="events">Events</a></li> 
					  <li><a href="getinvolved">Get Involved</a></li>  
					  <li><a href="news">News</a></li> 
					</ul>  


			    </div>  
			  </div>  
			</div>
		<div class="center hero-unit">
					<h1>FYEF Events</h1><br>
				
					<h2> Gala and Fashion Show Fundraisers</h2>
					<br>
					<h3></h3>
					<p><small> The Annual Gala and Foster Youth Fashion Show Fundraisers are key to raising funds to support our mission of ensuring that foster youth have the opportunity to develop their talents and realize their dreams.<br> The Fashion Show is a unique event featuring foster youth as the models and the stars of the show. The youth have the time of their lives, rehearsing their part, being fitted with fun fashions and building relationships forged in the group activities. Through the process they gain a new found confidence and a sense of accomplishment. 2011 marked a decade of community support for foster youth educational success and we are proud to continue the tradition into 2012. Our all volunteer group works hard to keep expenses low, and we operate at about a 10% expense to income ratio on the fundraiser.</small></p> <br><br><br><hr>
						
				<h3> Upcoming Events </h3>
				<p><small> Please stay tuned for information about our upcoming fundraising events. </small></p>

				<br><br><br><br><br><br><br>
					
				
				<hr>
			

				</div>
			
				

			
										
			
		</body>
	
			
		</html>
		
		
		<!-- save for later <a href="#">Foster Youth Education Fund</a> -->