<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> FYEF </title>
	</head>
	<body>
		
			<% if user_signed_in?%>
		
			<% else %>
				<div class="center hero-unit">
					<h1>Welcome to FYEF</h1>
					
					<div id="myCarousel" class="carousel slide">
					  <!-- Carousel items -->
					  <div class="carousel-inner">
					    <div class="active item">…</div>
							<%=image_tag("0071_FYEFDSC_0112.jpg", :alt=>"FYEF 1") %>
							<div class="carousel-caption">
							 <h4>First Thumbnail label</h4>
							  </div>
					    <div class="item">…</div>
											<%=image_tag("0068_FYEFDSC_0109.jpg", :alt=>"FYEF 3") %>
											<div class="carousel-caption">
											 <h4>Second Thumbnail label</h4>
											  </div>
					    <div class="item">…</div>
									<%=image_tag("0070_FYEFDSC_0111.jpg", :alt=>"FYEF 3") %>
									<div class="carousel-caption">
									 <h4>Third Thumbnail label</h4>
									  </div>
					  </div>
					  <!-- Carousel nav -->
					  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
					</div>
					
					
					
					
					<h2>
					  You've found the home page for the
					  <a href="#">Foster Youth Education Fund</a>
					  test site.
					</h2>
				
				   <%= link_to "Sign up now!", new_user_registration_path, :class => "btn btn-large btn-primary" %>
				<hr>
					<h3>About</h3>	
				
						<p>The <strong>Foster Youth Education Fund</strong> is a non-profit organization created to generate and disburse education grants to emancipating foster youth in the four county Sacramento region.</p>
						<p>We believe that all children deserve to dream big and to have an opportunity to strive for those dreams through higher education.</p>

						
					
				
				<hr>
			

				</div>
			
				

				<% end %>
			
										
			
		</body>
	
			
		</html>