<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> News </title>
	</head>
	<body>
			<div class="navbar navbar-fixed-top">  
			  <div class="navbar-inner">  
			    <div class="container">  

					<ul class="nav">  
					  <li><a class="FYEF" href="home">Home</a></li>  
					  <li> 
						<a href="about">About</a>
						</li>  
					  <li><a href="scholarship">Scholarship</a></li>  
					  <li><a href="events">Events</a></li> 
					  <li><a href="getinvolved">Get Involved</a></li>  
					  <li class="active"><a href="news">News</a></li> 
					</ul>  


			    </div>  
			  </div>  
			</div>
		<div class="center hero-unit">
					<h1>FYEF in the News</h1><br>
					<%= image_tag("0071_FYEFDSC_0112.jpg", :class => "img-polaroid") %>
				
				
				 
				<br><br><br><br><br><br><br><br><br><br>
				<hr>
		
						

				<br><br><br><br><br><br><br>
					
				
				<hr>
			

				</div>
			
				

			
										
			
		</body>
	
			
		</html>
		
		
		<!-- save for later <a href="#">Foster Youth Education Fund</a> -->