<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> Scholarship </title>
	</head>
	<body>
			<div class="navbar navbar-fixed-top">  
			  <div class="navbar-inner">  
			    <div class="container">  

					<ul class="nav">  
					  <li><a class="FYEF" href="home">Home</a></li>  
					  <li> 
						<a href="about">About</a>
						</li>  
					  <li class="active"><a href="scholarship">Scholarship</a></li>  
					  <li><a href="events">Events</a></li> 
					  <li><a href="getinvolved">Get Involved</a></li>  
					  <li><a href="news">News</a></li> 
					</ul>  


			    </div>  
			  </div>  
			</div>
		<div class="center hero-unit">
					<h1>Scholarship Information</h1><br>
					<%= image_tag("0070_FYEFDSC_0111.jpg", :class => "img-polaroid") %>
				
			<br><p><small> The Foster Youth Education Fund awards higher education grants each year to support the efforts of emancipated foster youth in the four county Sacramento region. 
			The grants are awarded to youth who have successfully completed their high school education and who are entering or attending a two or four year accredited college/university or technical/trade school. 
			Eligibility for education grant is without regard to race, gender, ethnicity, religion or political affiliation.</small></p>

				<br><br>
				<hr>
				
			<h2> Guidelines 2013/2014 </h2>
			<p>Please check back January 2013 for the 2013-2014 Guidelines </p> <br>
			
			<h3> Application 2013/2014 </h3>
			<p>Please check back January 2013 for the 2013-2014 Application </p> <br>
				 
			<h3> Emergency Funds Application 2013/2014 </h3>
			 <p>Please check back January 2013 for the 2013-2014 Emergency Funds Application </p> <br>
			
			<br><br><br>
			<hr>
			

				</div>
			
				

			
										
			
		</body>
	
			
		</html>
		
		
		<!-- save for later <a href="#">Foster Youth Education Fund</a> -->